<section class="cars" id="cars">
  <div class="heading">
    <h2>Our cars</h2>
  </div>

  <!-- <a href="./lab6/api/list"><button class="btn">Click here to see the cars</button></a> -->

  <div class="shop-items">
    <div class="shop-item" *ngFor="let car of carList">
      <img src="{{car.img}}" class="shop-item-image" alt="" />
      <h3 class="shop-item-title">{{car.name}}</h3>
      <div class="shop-item-details">
        <span class="shop-item-price">${{car.price}}</span>
      </div>
    </div>
  </div>
</section>