<section class="team" id="team">
  <div class="heading">
    <h2>Our team</h2>
  </div>

  <div class="team-container">
    <div class="box">
      <img src="assets/man-1.jfif" alt="" />
      <h2>Andrew Mapper</h2>
      <p>Administrator</p>
    </div>

    <div class="box">
      <img src="assets/man-2.jpg" alt="" />
      <h2>Chris Milsky</h2>
      <p>Marketing specialist</p>
    </div>

    <div class="box">
      <img src="assets/man-3.jpg" alt="" />
      <h2>Josh Belenko</h2>
      <p>Salesman</p>
    </div>
  </div>
</section>