<section class="footer" id="footer">
  <div class="footer-box">
    <h2>Armored Cars Shop</h2>
    <p>
      We are proud to help Ukrainian army during this tough period in
      Ukraine. And our task is to continue producing armored cars despite
      the obstacles we face.
    </p>
    <div class="social-media">
      <a href="https://www.facebook.com/ars.dobrovolskyi/" target="_blank"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/dobrovolsky.ars/" target="_blank"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.linkedin.com/in/arsgoo/" target="_blank"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-box">
    <h3>Contact</h3>
    <div class="contact">
      <span><i class="bx bx-map"></i>Kyiv, Ukraine, 02000</span>
      <span><i class="bx bx-phone"></i>+380 67 375 26 25</span>
      <span><i class="bx bx-envelope"></i>arseniistudy13@gmail.com</span>
    </div>
  </div>
</section>

<div class="copyright">
  <p>
    &copy;2023 Developed by ArsGooo | All Rights Reserved!
  </p>
</div>
