<section class="about" id="about">
  <div class="about-img">
    <img src="assets/armored-vehicle_about.png" alt="" />
  </div>
  <div class="about-text">
    <h2>Briefly about armored cars</h2>
    <p>
      A military armored car is a lightweight wheeled armored fighting
      vehicle, historically employed for reconnaissance, internal security,
      armed escort, and other subordinate battlefield tasks.
    </p>
    <p>
      With the gradual decline of mounted cavalry, armored cars were
      developed for carrying out duties used to be assigned to light
      cavalry.
    </p>
    <p>
      Following the invention of the tank, the armored car remained popular
      due to its faster speed, comparatively simplified maintenance and low
      production cost.
    </p>
  </div>
</section>
